body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, #0b0710 15%, #49016b 30%, #703b94 65%, #5aa3d7 100%);
  color: #fff;
}


.page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page {
  width: 100%;
  min-height: 100vh;    
  
  display: flex;
  justify-content: center; 
  align-items: center;     
  
  padding: 40px 0;
}

.product-wrapper {
  width: 90%;
  max-width: 1300px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 25px;
  display: flex;
  gap: 30px;
}

/* COLUMNA IZQUIERDA */
.product-left {
  flex: 1;
}

.product-img {
  width: 100%;
  height: 100%;         /* ocupa todo el alto disponible */
  min-height: 350px;    /* podés ajustar esto */
  border-radius: 15px;

  background-image: url("messsi.webp");
  background-size: cover;        /* <— LLENA el card */
  background-position: center;
  background-repeat: no-repeat;
}


/* COLUMNA DERECHA */
.product-right {
  flex: 1.2;
}

.title {
  font-size: 2.7rem; 
  font-weight: 700;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #cfc6d6;
  margin-bottom: 20px;
}

.badge {
  background: #d481d2;
  padding: 6px 12px;
  border-radius: 7px;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.discount {
  color: #5aa3d7;
  font-weight: bold;
  font-size: 1.1rem;
}

.price {
  color: #5aa3d7;
  font-size: 2.4rem;
  margin: 10px 0 5px 0;
  font-weight: 700;
}

.note {
  color: #cfc6d6;
  margin-bottom: 20px;
}

.sub {
  color: #d481d2;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.small {
  font-size: 1.8rem;  
  color: #ddd;
  margin-bottom: 20px; 
}

.link {
  color: #5aa3d7;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-add {
  width: 240px;
  padding: 12px;
  background: #b25ef4;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: 0.3s;

  margin-top: 35px;  
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* oculto */
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.45);
  z-index: 9999;
}

.popup-content {
  background: #fff;
  padding: 25px 40px;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
  color: #333;
  box-shadow: 0 5px 25px rgba(0,0,0,0.35);
}

.popup-content button {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  background: #b766ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}


.btn-add:hover {
  background: #8b39da;
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .product-wrapper {
    flex-direction: column;
  }

  .product-img {
    height: 280px;
  }

  .btn-add {
    width: 100%;
  }
}


