body {
  background: linear-gradient(180deg, #0b0710 15%, #49016b 30%, #703b94 65%, #5aa3d7 100%);
  color: #fff;
  font-family: 'Irish Grover', cursive;
}

header h1 {
  font-family: 'Irish Grover', cursive;
  font-size: 3rem;
  text-align: center;
  margin-top: 1.5rem;
}

header h2 {
  font-weight: 300;
  text-align: center;
  color: #ccc;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 2rem;
}

.card {
  background-color: rgba(0, 0, 0, 0.29);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
  background-color: rgba(0, 0, 0, 0.29);
}

.thumb {
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.btn-custom {
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  padding: 0.75rem 1rem;
  transition: background 0.3s;
}

.btn-custom:hover {
  background-color: rgba(255,255,255,0.2);
}


