body {
  font-family: 'Irish Grover', cursive;
  background: linear-gradient(180deg, rgba(0,0,0,0.8), rgba(0,0,0,0.5));
  color: white;
  min-height: 100vh;
}


/* --- FORMULARIO --- */
.form-section {
  padding: 4rem 1rem;
  min-height: calc(100vh - 200px);
}

.form-box {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #c9a7ff33;
  border-radius: 1rem;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.form-label {
  font-size: 1.1rem;
}

.form-control, .form-select {
  background-color: #2b2b2b;
  color: white;
  border: 1px solid #444;
}

.form-control:focus, .form-select:focus {
  border-color: #c9a7ff;
  box-shadow: none;
}

.btn {
  font-family: 'Irish Grover', cursive;
  border-radius: 10px;
}
